@page
@model CBTD.Web.Pages.Manufacturers.Upsert
@{
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                 <h2 class="text-primary">@(Model.ObjManufacturer.Id != 0 ? "Update " : "Create ") Manufacturer</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border p-3">
                @*<div asp-validation-summary="ModelOnly"></div>*@
                <div class="form-floating py-2 col-12">
                    <input class="form-control border-0 shadow" asp-for="ObjManufacturer.Name"/>
                    <label class="ms-2" asp-for="ObjManufacturer.Name"></label>
                    
                </div>
                
                @if (Model.ObjManufacturer.Id != 0)
                {
                <input type="hidden" asp-for="ObjManufacturer.Id" />
                }


                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">@(Model.ObjManufacturer.Id != 0 ? "Update " : "Create ") Manufacturer</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a class="btn btn-outline-primary border  form-control" asp-page="Index">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
